
.container{
  margin: 150px 550px;
  width: 400px;
  height:400px;
  background:#9BBEC8;
  padding: 20px;
  border-radius: 10px;
  border: 0px solid grey;
  box-shadow: 10px 10px 255px -1px balck,
  0px 45px 26px 0px blue;
  color:#164863;
}   

div {
  margin-top: 15px;
  color:#164863;
}
label {
  display: block;
  margin: 5px;
  color:#164863;

  }
  

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    box-sizing: border-box;
  }
Button{
  display: block;
}
  